<a href="https://colab.research.google.com/github/dindin666/SIB-Orbit-Future-Academy/blob/main/Exercise_2_Dina_Amelia_Alzahra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Dina Amelia Alzahra <br>
Program Studi : Teknik Informatika <br>
Universitas : Universitas Singaperbangsa Karawang

##Bangun Datar##

Persegi

In [ ]:
#input sisi
s = int(input("Sisi :"))

#rumus menghitung luas persegi
luas = s**2

#rumus menghitung keliling persegi
keliling = 4 * s

print("Luas Persegi :", luas)
print("Keliling Persegi :", keliling)

Sisi :2
Luas Persegi : 4
Keliling Persegi : 8

Persegi Panjang

In [ ]:
#input panjang dan lebar
panjang = int(input("Masukkan panjang :"))
lebar = int(input("Masukkan lebar :"))

#rumus menghitung luas persegi panjang
luas = panjang*lebar

#rumus menghitung keliling persegi panjang
keliling = 2* (panjang+lebar)

print("Luas Persegi Panjang =", luas)
print("Keliling Persegi Panjang =", keliling)

Masukkan panjang :6
Masukkan lebar :3
Luas Persegi Panjang 18
Keliling Persegi Panjang 18

Jajar Genjang

In [ ]:
alas = int(input("Alas :"))
sisim = int(input("Sisi Miring :"))
tinggi = int(input("Tinggi :"))

luas = alas*tinggi
keliling = 2*(alas*sisim)

print("Luas Jajar Genjang :", luas)
print("Keliling Jajar Genjang :", keliling)

Alas :2
Sisi Miring :2
Tinggi :4
Luas Jajar Genjang : 8
Keliling Jajar Genjang : 8

Trapesium

In [ ]:
a = int(input("Sisi Sejajar a:"))
b = int(input("Sisi Sejajar b:"))
c = int(input("Sisi Miring c:"))
d = int(input("Sisi Miring d:"))
t = int(input("Tinggi:"))

luas = (((a+b)/2)*t)
keliling = a+b+c+d

print("Luas Trapesium :", luas)
print("Keliling Trapesium :", keliling)

Sisi Sejajar a:2
Sisi Sejajar b:4
Sisi Miring c:2
Sisi Miring d:3
Tinggi:4
Luas Trapesium : 12.0
Keliling Trapesium : 11

Segitiga

In [ ]:
t = int(input("Tinggi :"))
a = int(input("Sisi a:"))
b = int(input("Sisi b:"))
c = int(input("Sisi c:"))


luas = (a*t)/2
keliling = a+b+c

print("Luas Segitiga =", luas)
print('Keliling Segitiga =', keliling)

Tinggi :4
Sisi a:2
Sisi b:2
Sisi c:2
Luas Segitiga = 4.0
Keliling Segitiga = 6

Layang-layang

In [ ]:
d1 = int(input("Diagonal 1 :"))
d2 = int(input("Diagonal 2 :"))
a = int(input("Sisi 1 :"))
b = int(input("Sisi 2 :"))

luas = (d1*d2)/2
keliling = 2*(a+b)

print("Luas Layang-layang =", luas)
print("Keliling Layang-layang =", keliling)

Diagonal 1 :2
Diagonal 2 :4
Sisi 1 :5
Sisi 2 :7
Luas Layang-layang = 4.0
Keliling Layang-layang = 24

Belah Ketupat

In [ ]:
d1 = int(input("Diagonal 1 :"))
d2 = int(input("Diagonal 2 :"))
s  = int(input("Sisi :"))

luas = luas = (d1*d2)/2
keliling = 4*s

print("Luas Belah Ketupat =", luas)
print("Keliling Belah Ketupat =", keliling)

Diagonal 1 :4
Diagonal 2 :4
Sisi :5
Luas Belah Ketupat = 8.0
Keliling Belah Ketupat = 20

Lingkaran

In [ ]:
  phi = 3.14
  r = float(input("Masukkan Jari-jari :"))

  luas = phi*r*r
  keliling = 2*phi*r


  print("Keliling Lingkaran =", keliling)
  print("Luas Lingkaran =", luas)

Masukkan Jari-jari :2
Keliling Lingkaran = 12.56
Luas Lingkaran = 12.56

##Bangun Ruang##

Kubus

In [ ]:
r = int(input("Panjang Rusuk :"))

Luas = 6*r*r
Volume = r*r*r

print("Luas Kubus = ", Luas)
print("volume Kubus =", Volume)

Panjang Rusuk :4
Luas Kubus =  96
volume Kubus = 64

Balok

In [ ]:
p = int(input("Panjang Balok :"))
l = int(input("Luas Balok :"))
t = int(input("Tinggi Balok :"))

Luas = 2*(p*l + p*t + l*t)
Volume = p*l*t

print("Luas Balok = ", Luas)
print("volume Balok =", Volume)

Panjang Balok :8
Luas Balok :4
Tinggi Balok :2
Luas Balok =  112
volume Balok = 64

Tabung

In [ ]:
r = float(input("Masukkan jari-jari :"))
t = float(input("Masukkan tinggi :"))
pi = 22/7

Luas = 2*pi*r*r*t
Volume = 2*pi*r*(r*t)

print("Luas Tabung = ", Luas)
print("volume Tabung =", Volume)

Masukkan jari-jari :1
Masukkan tinggi :3
Luas Tabung =  18.857142857142858
volume Tabung = 18.857142857142858

Prisma

In [ ]:
a = int(input("Masukkan Alas :"))
la = int(input("Masukkan Luas Alas :"))
ka = int(input("Masukkan Keliling Alas:"))
t = int(input("Masukkan Tinggi :"))

Luas = (2*la) + (ka*t)
Volume = la*t

print("Luas Prisma =", Luas)
print("Volume Prisma =", Volume)

Masukkan Alas :3
Masukkan Luas Alas :7
Masukkan Keliling Alas:16
Masukkan Tinggi :9
Luas Prisma = 158
Volume Prisma = 63

Kerucut

In [ ]:
phi = 3.14
r = float(input("Masukkan Jari-jari :"))
s = float(input("Masukkan Garis Pelukis :"))
t = float(input("Masukkan Tinggi :"))

Luas = phi*r*(r+s)
Volume = (phi*r*r*t)/2

print("Luas Kerucut =", Luas)
print("Volume kerucut =", Volume)

Masukkan Jari-jari :2
Masukkan Garis Pelukis :4
Masukkan Tinggi :7
Luas Kerucut = 37.68
Volume kerucut = 43.96

Bola

In [ ]:
phi =3.14
r = float(input("Masukkan Jari-jari :"))

Luas = 4*phi*r*r
Volume = 4/3*phi*r*r*r

print("Luas Bola =", Luas)
print("Volume Bola =", Volume)

Masukkan Jari-jari :3
Luas Bola = 113.03999999999999
Volume Kerucut = 113.03999999999998

Limas

In [ ]:
a = int(input("Masukkan Alas :"))
la = int(input("Masukkan Luas Alas :"))
t = int(input("Masukkan Tinggi :"))
tlsm = int(input("Masukkan Total Luas Sisi Miring :"))

Luas = la*tlsm
Volume = 1/2*la*t

print("Luas Limas =", Luas)
print("Volume Limas =", Volume)

Masukkan Alas :4
Masukkan Luas Alas :13
Masukkan Tinggi :9
Masukkan Total Luas Sisi Miring :15
Luas Limas = 195
Volume Limas = 58.5